.loginForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
  margin: 50px;
}
.loginForm .inputBox {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.loginForm .inputBox label {
  margin-bottom: 5px;
}

.loginForm input {
  padding: 10px;
}
.loginForm .loginButton {
  width: 120px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  background-color: black;
  border-radius: 3px;
  border: none;
  color: white;
}
.invalid-feedback {
  background-color: red;
  border-radius: 3px;
  color: white;
  padding: 5px;
  margin-top: 10px;
}
.invalidCredentialsMessage {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.invalidCredentialsMessage svg {
  width: 20px;
}
.loginHelp {
  display: flex;
  flex-direction: column;
}

@media(max-width: 600px) {
  .formPage {
    box-sizing: border-box;
    padding: 20px;
    .loginForm {
      width: 100%;
      margin: 0;
    }
  }

}
