<div class="formPage">
  <form [formGroup]="myForm" (submit)="login()" class="loginForm">
    <div class="inputBox">
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        placeholder="username"
        formControlName="username"
      />
      @if (myForm.controls.username.invalid && (myForm.controls.username.touched
      || myForm.controls.username.dirty)) {
      @if(myForm.controls.username.errors?.['required']) {
      <small class="invalid-feedback">El username es obligatorio</small>
      } @if(myForm.controls.username.errors?.['minlength']) {
      <small class="invalid-feedback"
        >El username debe de tener al menos 3 caracteres</small
      >
      } @if(myForm.controls.username.errors?.['maxlength']) {
      <small class="invalid-feedback"
        >El username debe de tener un máximo de 20 caracteres</small
      >
      } }
    </div>

    <div class="inputBox">
      <label for="password" id="password">Password</label>
      <input
        id="password"
        type="password"
        placeholder="password"
        formControlName="password"
      />
      @if (myForm.controls.password.invalid && (myForm.controls.password.touched
      || myForm.controls.password.dirty)) {
      @if(myForm.controls.password.errors?.['required']) {
      <small class="invalid-feedback">La contraseña es obligatoria</small>
      } @if(myForm.controls.password.errors?.['minlength']) {
      <small class="invalid-feedback"
        >La contraseña debe de tener al menos 8 caracteres</small
      >
      } @if(myForm.controls.password.errors?.['maxlength']) {
      <small class="invalid-feedback"
        >La contraseña debe de tener un máximo de 16 caracteres</small
      >
      } }
    </div>

    <button type="submit" class="loginButton">Login</button>

    @if (!loginValid && this.formSend) {
    <div class="invalidCredentialsMessage">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24l0 112c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-112c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
        />
      </svg>
      El usuario y contraseña proporcionados son incorrectos
    </div>
    }
  </form>
</div>
