<nav>
  <ul>
    <li>
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >dashboard
      </a>
    </li>
    <li>
      <a
        routerLink="/gallery"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >galeria
      </a>
    </li>
    <li>
      <a
        routerLink="/crud"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >CRUD
      </a>
    </li>
    <li>
      <a
        routerLink="/profile"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >profile
      </a>
    </li>
  </ul>
</nav>
